# Repository
build/
assets/packed/*
!assets/packed/.gitkeep

# Operating System
.DS_Store

# Android Development
.gradle
.idea/
.cxx
local.properties

# Visual Studio
*.vs/

# Python Files
__pycache__/
